<html>
  <head>
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <div class="cont1">
      <h1> Api's at your ready! </h1>
      <ul class="ul1">
        <li class="api">Timestamp validator:         
          <div class="prms"><ol>
            <li>/timestamp/<i><b>timestamp</b></i></li>
          </ol></div>
        </li>
        <li class="api">IP/Info Analyser: 
          <div class="prms"><ol>
            <li>/hparser/</li>
          </ol></div>
        </li>
        <li class="api">Url Shortener: 
          <div class="prms"><ol>
            <li>/shrturl<i><b>?shrtn=longurl</b></i></li>
            <li>/shrturl/<i><b>shrturl</b></i></li>
          </ol></div>
        </li>
      </ul>
    </div>
  </body>
</html>